<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <%- include('./partials/nav.ejs') %>

    <%- include('./partials/header.ejs') %>

      <main id='detail'>
        <section id='all'>

          <img src="<%= gif %>">

          <section id='detailSection'>
            <h3>Gif Details</h3>

            <h4>Posted at</h4>
            <p>
              <%= postTime %>
            </p>

            <h4>Orginal source</h4>
            <p>
              <%= source %>
            </p>

            <a href="<%= viewGiphy %>">
              <h4>Wanna view on Giphy.com? Click!</h4>
            </a>
          </section>

        </section>

        </section>

        <%- include('./partials/footer.ejs') %>