<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head.ejs') %>

  <body>
    <main>
      <%- include('./partials/nav.ejs') %>

      <%- include('./partials/header.ejs') %>

      <%- include('./partials/form.ejs') %>

      <section id="gifContainer">
      </section>

      <%- include('./partials/footer.ejs') %>

    </main>
  </body>
  
</html>
