<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <%- include('./partials/header.ejs') %>

    <main>

      <section id="gifContainer">

        <% props.forEach(item=> { %>

          <a href="/gif/<%= item.id %>">
            <img src="<%=item.images.downsized.url %>" alt="<%= item.title %>">
          </a>

          <% }); %>

      </section>

      <%- include('./partials/footer.ejs') %>