<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body id='index'>
    <main>

      <%- include('./partials/header.ejs') %>

        <section id="gifContainer">

          <% props.forEach(item=> { %>

            <a href="/gif/<%= item.id %>">
              <img src="https://media.giphy.com/media/<%= item.id %>/giphy.gif" alt="<%= item.title %>">
            </a>

            <% }); %>

        </section>

        <%- include('./partials/footer.ejs') %>

    </main>
  </body>

</html>